* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    font-family: "Mulish", sans-serif;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    color: #FFFFFF;
}

.nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin: 20px 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #61dafb;
}

.nav-active {
    right: 0;
}

.close-menu {
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.close-menu:hover {
    color: #61dafb;
}

body {
    font-family: "Mulish", sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: left;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    padding-left: 5%;
    padding-top: 5%;
    background-color: black;
}

.intro-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.intro-text p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
}

.gradient-text {
    background: linear-gradient(to right, #0cb686, #ff009d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.story-section {
    background-color: black;
    padding: 5%;
    text-align: left;
}

.story-section h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.story-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
}

.fighting-section {
    background-color: black;
    padding: 5%;
    text-align: left;
}

.fighting-section h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.fighting-section .highlight {
    color: red;
    font-size: 4rem;
    font-weight: bold;
}

.fighting-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
}

.witte-lijn {
    width: 100%;
    height: 2px;
    background-color: white;
}

.career-section {
    background-color: black;
    padding: 5%;
    color: white;
}

.career-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    color: white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.career-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.career-card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.career-card h3 {
    font-size: 2rem;
    background: linear-gradient(to right, #0c39b6, #ff009d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.career-card p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.company-logo {
    max-width: 150px;
    margin-top: 20px;
}

.header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    padding-left: 50px;
    /* width: 65%; */
    height: 100px;
    font-size: 1.5rem;
    background-color: #FAFAFA;
    color: black;
}

.app-exp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #FAFAFA;
}

.exp-container {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 30vh;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.18);
}

.logo-exp-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.text-exp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.text-exp {
    font-size: 1.5rem;
    color: black;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #FFFFFF;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.header-contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #1a1a1a;
}

.info-contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #515151;
    font-size: 1rem;
}

.learn-more-contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #0075FF;
    font-size: 1.2rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .career-grid {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 724px) and (max-width: 1640px) {

    .card {
        min-width: 280px;
        height: 450px;
    }

    .carousel-buttons {
        margin-top: 0px;
        padding-bottom: 40px;
    }

    .text-exp {
        font-size: 1rem;
    }

    .fa-custom {
        font-size: 2.2rem;
    }
}