* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mulish", sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-color: black; */
    text-align: left;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    padding-left: 5%;
    padding-top: 5%;
    background-color: black;
}

.intro-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.intro-text p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
}

.rep-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    padding-top: 16%;
    background-color: black;
}

.rep-cards-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 65%;
    gap: 30px;
    margin-bottom: 20px;
    padding: 20px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rep-cards-container::-webkit-scrollbar {
    display: none;
}

.card-link {
    text-decoration: none;
}

.card {
    min-width: 300px;
    height: 519px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card h2 {
    margin: 0;
    font-size: 24px;
}

.card p {
    margin: 5px 0 0;
    font-size: 18px;
}

.card.about-me {
    background-image: url('../images/sga-book.png');
}

.card.work-tools-projects {
    background-image: url('../images/lightbulb-gradient-bg.png');
}

.card.js-projects {
    background-image: url('../images/red-black-belt-gradient.png');
}

.card.php-projects {
    background-image: url('../images/chart-gradient-bg.png');
}

.card.mobile-projects {
    background-image: url('../images/test-picture.jpg');
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carousel-button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #515151;
}

/* Styling for the story section */
.story-section {
    background-color: black;
    padding: 5%;
    text-align: left;
}

.story-section h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.story-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
}

/* Styling for the fighting section */
.fighting-section {
    background-color: black;
    padding: 5%;
    text-align: left;
}

.fighting-section h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.fighting-section .highlight {
    color: red;
    font-size: 4rem;
    font-weight: bold;
}

.fighting-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
}

.witte-lijn {
    width: 100%;
    height: 2px;
    background-color: white;
}

.career-section {
    background-color: black;
    padding: 5%;
    color: white;
}

.career-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    color: white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.career-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.career-card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.career-card h3 {
    font-size: 2rem;
    background: linear-gradient(to right, #0c39b6, #ff009d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.career-card p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.company-logo {
    max-width: 150px;
    margin-top: 20px;
}

.header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    padding-left: 50px;
    /* width: 65%; */
    height: 100px;
    font-size: 1.5rem;
    background-color: #FAFAFA;
    color: black;
}

.app-exp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #FAFAFA;
}

.exp-container {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 30vh;
    border-radius: 32px;
    border: solid black 1px;
    background-color: white;
}

.logo-exp-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.text-exp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.text-exp {
    font-size: 1.5rem;
    color: black;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #FFFFFF;
}

.contact-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.header-contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #1a1a1a;
}

.info-contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #515151; 
    font-size: 1rem;
}

.learn-more-contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #0075FF;
    font-size: 1.2rem;
    text-decoration: none;
}

.card, .exp-container, .ad-app-container, .contact-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.card.show, .exp-container.show, .ad-app-container.show, .contact-container.show {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .career-grid {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 724px) and (max-width: 1640px) {

    .card {
        min-width: 280px;
        height: 450px;
    }

    .rep-container {
        height: 120vh;
    }

    .rep-cards-container {
        height: 76vh;
        overflow: hidden;
    }

    .carousel-buttons {
        margin-top: 0px;
        padding-bottom: 40px;
    }

    .text-exp {
        font-size: 1rem;
    }

    .fa-custom {
        font-size: 2.2rem;
    }
}